.RegisterTutor {
    overflow: auto;
    height: 30vw;
}

.RegisterTutor .contentInput select {
    width: 48%;
    margin: auto;
    border-color: #68989e;
    border-radius: 0.5vw;
    height: 2vw;
    color: #68989e;
}

.RegisterTutor .contentInput input {
    width: 47% !important;
    margin: auto;
}

.EditTutor .contentInput input {
    width: 100% !important;
    margin: auto;
}

.RegisterTutor .contentInput .field {
    display: flex;
}

.desCourse {
    padding: 40px;
}

.desCourse div {
    margin-top: 30px;
    display: flex;
}

.desCourse h1 {}

.desCourse p {
    margin: auto;
    padding: 8%;
}

.desCourse img {
    width: 25%;
}