.Course {
    padding-top: 6.5vw;
}

.Course .infoTutor {
    border-radius: 7px;
    opacity: 0.93;
    display: flex;
}

.Course .infoTutor .title {
    color: #25A6B5;
    font-size: 1.8vw;
    margin: 4vw auto 2vw auto;
    font-family: bold;
}

.Course .infoTutor div {
    width: 60%;
}

.Course .infoTutor .tutor-content {
    width: 40%;
    border-right-width: 0vw;
}


.Course .infoTutor .description {
    color: #000000;
    font-size: 1.5vw;
    margin: auto;
    line-height: 2vw;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #2B2B092B;
    opacity: 1;
    ;
    padding: 2vw 10vw;
    width: 83%;
}


.Course .infoTutor .tutor-content .title {
    color: #000000;
    font-family: Bold;
    margin: 4vw auto 3vw auto;
    font-size: 2vw;
}

.Course .infoTutor .tutor-content img {
    color: #2A6D75;
    width: 215px;
    height: 215px;

}

.Course .infoTutor .tutor-content .name {
    color: #000;
    font-size: 1.5vw;
    margin: 1vw;
}

.Course .infoTutor .tutor-content .run {
    color: #000;
    font-size: 1vw;
    margin-bottom: 2vw;
}

.Course .content-module {
    display: flex;
}

.Course .content-module div {
    width: 50%;
    padding-top: 0.5vw;
}

.Course .content-module .portada {
    width: 40%;
    margin: 5vw;
    background-image: url(../images/FondoImagenPortada.svg);
    background-size: cover;
}

.Course .content-module .portada img {
    width: 50%;
}

.Modules {
    width: 100% !important;
    margin-top: 7vw;
}

.Modules div {
    display: flex;
    width: 90% !important;
    margin: auto;
}

.Modules svg {
    height: 1.5vw;
    cursor: pointer;
    margin: auto;
}

.Modules svg:hover {
    background: #c8989842;
    border-radius: 2vw;
    padding: 0.2vw;
}

.Modules .position {
    background-color: #EF25B9;
    color: white;
    width: 3vw;
    height: 3vw;
    border-radius: 2vw;
    display: grid;
    font-size: 2vw;
    margin: auto;
}

.Modules .description {
    font-size: 1.5vw;
    line-height: 2vw;
    margin-left: 13%;
    text-align: left;
    width: 70%;
    -webkit-user-select: none;
    user-select: none;
    text-align: justify;
}

.Modules .title {
    text-align: left;
    height: 1.5vw;
    cursor: pointer;
    color: #000000D4;
    font-family: 'Normal';
    font-size: 2vw;
    width: 65%;
    line-height: 2vw;
    margin: auto;
}

.orangeBtn {
    background: #FF5015BA 0% 0% no-repeat padding-box;
    border-radius: 1vw;
    opacity: 1;
    width: 10vw;
    height: 3vw;
    color: white;
    position: fixed;
    margin-left: 88%;
    margin-top: 1vw;
    font-size: 1.5VW;
    border-style: none;
}

@media only screen and (max-width: 600px) {
    .Course {
        padding-top: 30.5vw;
    }

    .Course .infoTutor {
        display: block;
    }

    .Course .infoTutor div {
        width: 100%;
    }

    .Course .infoTutor .title {
        font-size: 4.8vw;
        margin: 1vw auto 8vw auto;
    }

    .Course .infoTutor .description {
        color: #000000;
        font-size: 3.5vw;
        margin: auto;
        line-height: 4vw;
        padding: 2vw 10vw;
        width: 95%;
    }

    .Course .infoTutor .tutor-content {
        width: 40%;
        border-right-width: 0vw;
        margin: auto;
    }

    .Course .infoTutor .tutor-content .title {
        color: #000000;
        font-family: Bold;
        margin: 8vw auto 6vw auto;
        font-size: 4vw;
    }

    .Course .infoTutor .tutor-content .name {
        color: #000;
        font-size: 4.5vw;
        margin: 3vw;
    }

    .Course .infoTutor .tutor-content img {
        color: #2A6D75;
        width: 100%;
        height: auto;
    }

    .Course .infoTutor .tutor-content .run {
        color: #000;
        font-size: 4vw;
        margin-bottom: 8vw;
    }

    .Course .content-module {
        display: block;
    }

    .Course .content-module div {
        width: 100%;
        padding-top: 0.5vw;
    }

    .Modules svg {
        height: 5.5vw;
        cursor: pointer;
        margin: auto;
    }

    .Modules .position {
        background-color: #EF25B9;
        color: white;
        width: 6vw;
        height: 6vw;
        border-radius: 6vw;
        display: grid;
        font-size: 4vw;
        margin: auto;
    }

    .Modules .title {
        height: 1.5vw;
        font-size: 4vw;
        width: 65%;
        line-height: 2vw;
        margin: auto;
    }

    .Modules .description {
        font-size: 3.5vw;
        line-height: 4vw;
        width: 70%;
        user-select: none;
        text-align: justify;
        margin-top: 4vw;
    }

    .Modules svg:hover {
        background: #c8989842;
        border-radius: 5vw;
        padding: 1.2vw;
    }

    .Course .content-module {
        display: block;
        margin-bottom: 18vw;
    }

    .Course .content-module .portada {
        width: 100%;
        margin: auto;
        margin-top: 20vw;
    }

    .orangeBtn {
        width: 40%;
        height: 10vw;
        color: white;
        font-size: 4.5VW;
        position: inherit;
        border-style: none;
        margin: auto;
    }

}