.Felicidades {
    width: 100%;
    /* background: transparent linear-gradient(180deg, var(--unnamed-color-ffce84) 0%, #E57844 100%, #AB684B 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #FFCE84 0%, #E57844 100%, #AB684B 100%) 0% 0% no-repeat padding-box; */
    background: url(../images/FondoFelicitacion-2.svg);
    background-size: cover;
    border-radius: 7px;
    opacity: 0.93;
    min-height: 60vw;
}

.Felicidades .title {
    color: #FF0090;
    font-size: 4vw;
    font-family: bold;
}

.Felicidades .info {
    padding: 0% 30%;
}

.Felicidades .subtitle {
    color: black;
    font-size: 2vw;
    margin-top: 5vw;
    line-height: 2vw;
}

.Felicidades .orangeBtn1 {
    background: #FF5015BA 0% 0% no-repeat padding-box;
    border-radius: 1vw;
    opacity: 1;
    width: auto;
    height: auto;
    color: white;
    margin: 3vw auto;
    font-size: 1.5VW;
    border-style: none;
    padding: 1vw;
}

.Felicidades .info {
    padding-top: 17vw;

}

.contentBTN {
    display: flex;
    width: 100%;
}


@media only screen and (max-width: 600px) {


    .Felicidades .info {
        padding-top: 51vw;
        padding: 51vw 0%;
    }

    .Felicidades .title {
        font-size: 10vw;
    }

    .Felicidades .subtitle {
        color: black;
        font-size: 6vw;
        line-height: 8vw;
        width: 72%;
        margin: 13vw auto;
    }

    .contentBTN {
        display: flex;
        width: 100%;
    }

    .Felicidades .orangeBtn1 {
        background: #FF5015BA 0% 0% no-repeat padding-box;
        border-radius: 1vw;
        opacity: 1;
        width: auto;
        height: auto;
        color: white;
        margin: 3vw auto;
        font-size: 4.5VW;
        border-style: none;
        padding: 4vw;
        margin-bottom: 12vw;
    }
}