.Home .one {
    padding-top: 12vw !important;
    padding-left: 8% !important;
    padding-right: 8% !important;
    padding-bottom: 5% !important;
    display: flex;
}

.Home .one .titulo {
    color: #25A6B5;
    font-size: 2.1vw;
    font-family: bold;
    margin-bottom: 4vw;
    width: 100%;
    text-align: left;
}

.Home .one .text {
    width: 60%;
    display: flex;
}

.Home .one .text div {
    margin: auto;
    width: 80%;
}

.Home .one .textp {
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: left;
}

.Home .one .img {
    width: 40%;
}

.Home .one img {
    width: 80%;
    margin-left: -25%;
}

body.demos .section {
    /* background: url(images/bg.png) repeat top center #f2f3f5;*/
}

.Home .two {
    padding-top: 5vw;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    background: url(../images/Innauguracion.svg);
    background-size: cover;
}

.Home .two .title {
    font-size: 3vw;
    color: white;
    font-family: Bold;
    text-align: end;
    width: 100%;
}

.Home .two .text {
    font-size: 1.5vw;
    color: white;
    font-family: Normal;
    line-height: 2vw;
    text-align: end;
    margin-top: 5vw;
    width: 50%;
    margin-left: 50%;
    padding-bottom: 3vw;
}

.Home .three {
    padding-top: 5vw;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
}

.Home .three .title {
    width: 100%;
    text-align: left;
    color: #99B525;
    font-family: bold;
    font-size: 2vw;
    margin-bottom: 3vw;
}

.Home .three div {
    width: 100%;
    display: flex;
}

.Home .three img {
    width: 33%;
    display: flex;
}

.Home .four {
    padding-top: 5vw;
    padding-right: 10%;
    height: auto;
}

.Home .four .title {
    width: 100%;
    padding-left: 10%;
    text-align: left;
    color: #EF835F;
    font-family: bold;
    font-size: 2vw;
    margin-bottom: 3vw;
}

.Home .four .content {
    background: url(../images/RectánguloTurquesa.svg);
    background-size: cover;
    display: flex;
}

.Home .four .text {
    color: white;
    padding-left: 10%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 50%;
    font-size: 1.7vw;
    line-height: 2.2vw;
    text-align: left;
    font-family: normal;
}

.Home .four .content div {
    width: 50%;
}

.Home .four .content div img {
    border-radius: 2vw;
    width: 70%;
}

.Home .five {
    padding-top: 5vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5vw;
    height: auto;
}

.Home .five .title {
    width: 100%;
    text-align: left;
    color: #EF25B9;
    font-family: bold;
    font-size: 2vw;
    margin-bottom: 3vw;
}

.Home .five .content {
    display: flex;
    width: 100%;
}

.Home .five .content .target {
    width: 30%;
    margin: auto;
    display: block;
}

.Home .five .content .target img {
    width: 50%;
    margin: auto;
}

.Home .five .content .target .title {
    width: 100%;
    margin: auto;
    margin-top: 2vw;
    text-align: center;
    color: black;
    font-size: 1.2vw;
}

.Home .five .content .target .subtitle {
    width: 100%;
    margin: auto;
    font-size: 1.2vw;
    margin-top: 0.5vw;
}

@media only screen and (max-width: 600px) {

    .Home .one {
        padding-top: 36vw !important;
        padding-left: 0% !important;
        padding-right: 8% !important;
        padding-bottom: 3% !important;
        display: fle
    }

    .Home .one .titulo {
        color: #25A6B5;
        font-size: 5.1vw;
        font-family: bold;
        margin-bottom: 4vw;
        width: 100%;
        text-align: left;
    }

    .Home .one .text div {
        margin: auto;
        width: 85%;
    }

    .Home .one .text {
        width: 80%;
        display: flex;
    }

    .Home .one img {
        width: 100%;
    }

    .Home .one .textp {
        font-size: 2.7vw;
        line-height: 3vw;
        text-align: left;
    }

    .Home .two .title {
        font-size: 5vw;
    }

    .Home .two .text {
        font-size: 2.5vw;
        color: white;
        font-family: Normal;
        line-height: 3vw;
        text-align: end;
        margin-top: 5vw;
        width: 75%;
        margin-left: 24%;
        padding-bottom: 3vw;
    }

    .Home .three .title {
        font-size: 5vw;
        margin-left: 5%;
        margin-bottom: 6vw;
    }

    .Home .three div {
        width: 100%;
        display: block;
    }

    .Home .three img {
        width: 50%;
        display: flex;
        margin: auto;
    }

    .Home .three {
        padding-left: 0%;
        padding-right: 0%;
    }

    .Home .four .title {
        font-size: 5vw;
        margin-bottom: 7vw;
        padding-left: 5vw;
    }

    .Home .four {
        padding-top: 0%;
        padding-right: 0%;
        height: auto;
        margin-top: 8vw;
    }

    .Home .four .text {
        padding-left: 10%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        width: 90%;
        font-size: 3.7vw;
        line-height: 3.8vw;
        text-align: justify;
        font-family: normal;
    }

    .Home .four .content {
        display: block;
    }

    .Home .four .content div {
        width: 60%;
        margin: auto;
    }

    .Home .four .content div img {
        border-radius: 2vw;
        width: 100%;
    }

    .Home .five .title {
        width: 100%;
        text-align: left;
        color: #EF25B9;
        font-family: bold;
        font-size: 5vw;
        margin-bottom: 3vw;
        margin-bottom: 10vw;
    }

    .Home .five {
        padding-top: 9vw;
        padding-left: 5vw;
        padding-right: 5vw;
        height: auto;
        padding-bottom: 17vw;
    }

    .Home .five .content {
        display: block;
        width: 100%;
    }

    .Home .five .content .target {
        width: 70%;
        margin: auto;
        display: block;
    }

    .Home .five .content .target .title {
        width: 100%;
        margin: auto;
        margin-top: 4vw;
        text-align: center;
        color: black;
        font-size: 5.2vw;
    }

    .Home .five .content .target .subtitle {
        width: 100%;
        margin: auto;
        font-size: 4.2vw;
        margin-top: 3.5vw;
        margin-bottom: 10vw;
    }

}