.Innova .one {
    padding-top: 10vw;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
    padding: auto;
    display: flex;
    background: url(../images/SobreInnovaTFoto-3.svg);
    min-height: 25vw;
    background-size: cover;
}



.Innova .two {
    padding-top: 2vw;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    background-size: cover;
    width: 100%;
    display: flex;
}

.Innova .two .content {
    width: 60%;
}

.Innova .two .image {
    width: 40%;
}

.Innova .two div div {
    display: flex;
}


.Innova .two .title {
    color: #EF25B9;
    font-family: bold;
    font-size: 2.5vw;
    text-align: left;
    margin-bottom: 3vw;
    margin-top: 5vw;
}

.Innova .two img {
    margin-top: 5vw;
    width: 80%;
}

.Innova .two .text {
    display: flex;
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: left;
}

.Innova .two fila {
    width: 2vw;
    height: 11vw;
    background-color: #EF25B9;
    margin-right: 1vw;
}



/** ---------
*/
.Innova .three {
    padding-top: 2vw;
    height: auto;
    background-size: cover;
    width: 100%;
    margin-top: 2vw;
    display: flex;
}



.Innova .three fila {
    width: 100%;
    height: 0.5vw;
    background-color: #25A6B5;
    margin-right: 1vw;
    display: block;
    margin-bottom: 3vw;
}

.Innova .three .title {
    padding-right: 8%;
    color: #25A6B5;
    font-family: bold;
    font-size: 2.5vw;
    text-align: right;
    margin-bottom: 3vw;
    margin-top: 5vw;
}

.Innova .three .content {
    width: 50%;
}

.Innova .three .image {
    width: 50%;
    height: 20vw;
}

.Innova .three img {
    margin-top: 5vw;
    width: 100%;
    height: 100%;
}

.Innova .three .text {
    display: flex;
    font-size: 1.7vw;
    line-height: 2vw;
    padding-right: 8%;
    text-align: right;
}




/** */


.Innova .four {
    height: auto;
    background-size: cover;
    width: 100%;
    margin-top: 5vw;
    display: flex;
}

.Innova .four .content {
    width: 50%;
}

.Innova .four .image {
    width: 50%;
    height: 20vw;
}

.Innova .four fila {
    width: 100%;
    height: 0.5vw;
    background-color: #99B525;
    margin-right: 1vw;
    display: block;
    margin-bottom: 3vw;
}

.Innova .four .title {
    padding-right: 8%;
    color: #99B525;
    font-family: bold;
    font-size: 2.5vw;
    text-align: left;
    padding-left: 8%;
    margin-bottom: 3vw;
    margin-top: 5vw;
}

.Innova .four img {
    margin-top: 5vw;
    width: 100%;
    height: 100%;
}

.Innova .four .text {
    display: flex;
    font-size: 1.7vw;
    line-height: 2vw;
    padding-right: 8%;
    text-align: left;
    padding-left: 8%;
}


.Innova .five {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 8vw;
    margin-bottom: 5vw;
    height: auto;
    background-size: cover;
    width: 100%;
    display: flex;
}

.Innova .five .content {
    width: 100%;
}


.Innova .five div div {
    display: flex;
}


.Innova .five .title {
    color: #FF0090;
    font-family: bold;
    font-size: 2.5vw;
    text-align: left;
    margin-bottom: 3vw;
}


.Innova .five .text {
    display: flex;
    font-size: 1.7vw;
    line-height: 2vw;
    text-align: left;
}

.Innova .five .text svg {
    margin: 0.4vw;
}

.Innova .five fila {
    width: 1vw;
    background-color: #FF0090;
    margin-right: 1vw;
}

.Innova .five .estra {
    display: block;
}

@media only screen and (max-width: 600px) {
    .Innova .one {
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 5%;
        display: flex;
        min-height: 61vw;
        background-size: contain;
    }

    .Innova .two {
        padding-top: 6vw;
        padding-left: 5%;
        padding-right: 5%;
        display: block;
    }

    .Innova .two .content {
        width: 100%;
    }

    .Innova .two .text {
        display: flex;
        font-size: 4vw;
        line-height: 5vw;
        text-align: inherit;
    }

    .Innova .two .title {
        color: #EF25B9;
        font-family: bold;
        font-size: 5.5vw;
        text-align: center;
        margin-bottom: 8vw;
        margin-top: 5vw;
    }

    .Innova .two fila {
        width: 7vw;
        background-color: #EF25B9;
        margin-right: 1vw;
        height: auto;
    }

    .Innova .two .image {
        width: 70%;
        margin: auto;
    }


    .Innova .three {
        padding-top: 6vw;
        padding-left: 5%;
        padding-right: 5%;
        display: block;
    }

    .Innova .three .image {
        display: none;
        width: 50%;
        height: 20vw;
    }

    .Innova .three .content {
        width: 100%;
    }

    .Innova .three .title {
        padding-right: 0%;
        font-size: 5.5vw;
        text-align: center;
        margin-bottom: 3vw;
        margin-top: 8vw;
    }

    .Innova .three fila {
        height: 1.5vw;
        margin-right: 1vw;
        display: block;
        margin-bottom: 5vw;
    }

    .Innova .three .text {
        display: flex;
        font-size: 3.7vw;
        line-height: 5vw;
        padding-right: 0%;
        text-align: center;
    }

    .Innova .four {
        height: auto;
        background-size: cover;
        width: 90%;
        margin-top: 15vw;
        margin-left: 5%;
        margin-right: 5%;
        display: block;
    }

    .Innova .four .content {
        width: 100%;
    }

    .Innova .four .title {
        padding: 0%;
        font-size: 5.5vw;
        text-align: center;
        margin-bottom: 3vw;
        margin-top: 5vw;
    }

    .Innova .four fila {
        width: 100%;
        height: 1.5vw;
        margin-right: 1vw;
        display: block;
        margin-bottom: 3vw;
    }

    .Innova .four .text {
        margin-top: 6vw;
        display: flex;
        font-size: 3.7vw;
        line-height: 5vw;
        padding-right: 0%;
        text-align: center;
        padding-left: 0%;
    }

    .Innova .four .image {
        width: 100%;
        height: 39vw;
        margin-bottom: 20vw;
    }

    .Innova .five {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 8vw;
        margin-bottom: 24vw;
        height: auto;
        background-size: cover;
        width: 100%;
        display: flex;
    }

    .Innova .five .title {
        font-family: bold;
        font-size: 5.5vw;
        text-align: center;
        margin-bottom: 9vw;
    }

    .Innova .five fila {
        width: 7vw;
        background-color: #FF0090;
        margin-right: 3vw;
    }

    .Innova .five .text svg {
        margin: 1.4vw;
        display: none;
    }

    .Innova .five .text {
        display: flex;
        font-size: 3.7vw;
        line-height: 4vw;
        text-align: justify;
    }

}