.Login {
    width: 35%;
    min-height: 25vw;
    margin: auto;
    margin-top: 2vw;
    border-radius: 2.5vw;
    padding: 2vw;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #2b2b0929;
    border: 1px solid #D2EBEA;
    opacity: 1;
    margin-bottom: 6vw;
}

.Login .title {
    font-family: Bold;
    font-size: 2vw;
    margin-top: 1vw;
    color: #2A6D75;
}

.Login div p {
    font-size: 1.5vw;
    color: black;
    line-height: 2vw;
}

.Login div {
    display: flex;
}

.Login div svg {
    font-size: 1.5vw;
    position: absolute;
    margin: 1.7vw;
}

.Login .title svg {
    margin: auto 1vw;
    font-size: 4vw;
    margin-left: -4vw;
}

.Login content strong {
    color: #2A6E77;
    font-size: 2.5vw;
}

.Login content form {
    width: 85%;
    margin: auto;
    margin-top: 2vw;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2A6E77;
    opacity: 1;
    /* Firefox */
}

.Login content form input {
    width: 100%;
    font-weight: 500;
    margin: 1vw 0vw;
    height: 3vw;
    border-radius: 1.3vw;
    border-style: solid;
    color: #2A6D75;
    text-align: center;
    font-size: 1.2vw;
    border-width: 0.15vw;
    border-color: #707070;
    padding: 0px;
}

.Login content form input:focus {
    border-color: #25A6B5;
}

.Login content form a {
    color: #25A6B5;
    font-size: 1.2vw;
    margin: 2vw 1vw;
}

.Login content form button {
    color: white;
    font-size: 1.2vw;
    MARGIN-TOP: 2VW;
    width: 50%;
    height: 2vw;
    border-radius: 2vw;
    border-style: solid;
    background: #25A6B5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #2A6D75;
}

.Login content form button:hover {
    background-color: white;
    color: #2A6D75;
}

@media only screen and (max-width: 600px) {
    .Login div p {
        font-size: 4.5vw;
        color: black;
        line-height: 4vw;
    }

    .Login {
        width: 75%;
        margin: auto;
        margin-top: 47vw;
        padding: 6vw;
        margin-bottom: 6vw;
    }

    .Login .title {
        font-size: 5vw;
        margin-top: 2vw;
        color: #2A6D75;
    }

    .Login .title svg {
        margin: auto 1vw;
        font-size: 6vw;
        margin-left: -4vw;
        margin-right: 2vw;
    }

    .Login content form {
        width: 100%;
        margin: auto;
        margin-top: 7vw;
    }

    .Login content form input {
        width: 100%;
        margin: 2vw 0vw;
        height: 8vw;
        color: #2A6D75;
        text-align: center;
        font-size: 3.2vw;
    }

    .Login div svg {
        font-size: 4.5vw;
        position: absolute;
        margin: 3.7vw;
    }

    .Login content form a {
        font-size: 3.2vw;
        margin: 4vw 1vw;
    }

    .Login content form button {
        color: white;
        font-size: 3.2vw;
        MARGIN-TOP: 3VW;
        width: 70%;
        height: 6vw;
        border-radius: 2vw;
    }
}