.Modulo {
    padding-top: 6.5vw;
}

.titleC {
    margin: 2vw;
}

.titleC p {
    margin: auto;
    color: #2A6D75;
    margin-top: 2vw;
    font-size: 2vw;
    font-family: Bold;
}

.Modulo div {
    display: flex;
    margin-top: 3vw;
}

.Modulo svg {
    margin-top: 1vw;
    height: 3vw;
    margin-left: -94%;
    margin-bottom: -2vw;
    cursor: pointer;
}

.Modulo button {
    margin: 4vw;
    background: #F86629 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 2.5vw;
    color: white;
    border-style: none;
    padding: 0vw 1vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
}

.Modulo button:hover {
    background: white;
    color: #F86629;
    border-color: #F86629;
    border-style: solid;
}

.Modulo .position {
    background: #F87741;
    opacity: 1;
    width: 12vw;
    height: 8vw;
    display: flex;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.Modulo .position b {
    color: #fff;
    margin: auto;
    font-size: 5vw;
    font-family: Bold;
}

.Modulo .title {
    width: 54%;
    font-size: 3.5vw;
    opacity: 1;
    color: #F87741;
    margin: auto;
    font-family: 'Bold';
    border-bottom-style: solid;
    padding-bottom: 1.2vw;
    line-height: 3vw;
}

.Modulo .content-img {
    width: 40%;
}

.Modulo .content-img img {
    margin: auto;
    width: 22vw;
    margin-left: 45%;
}

.Modulo .description {
    width: 38%;
    margin: auto;
    font-size: 1.5vw;
    line-height: 1.7vw;
    color: #000000;
    font-family: 'Normal';
}

.Modulo .contentVideo {
    /*background: transparent linear-gradient(180deg, #FFCE84 0%, #E57844 100%, #AB684B 100%) 0% 0% no-repeat padding-box;
    */
    opacity: 0.93;
}

.Modulo .contentVideo iframe {
    MARGIN: 1vw AUTO 3vw auto;
    width: 61vw;
    height: 34.3vw;
    border-radius: 2vw;
}

.Questions {
    padding-top: 6.5vw;

}

.Questions svg {
    margin-top: 1vw;
    height: 3vw;
    margin-left: -94%;
    margin-bottom: -2vw;
    cursor: pointer;
}

.Questions .title {
    font-family: 'Bold';
    color: white;
    font-size: 2.5vw;
    background-color: #25A6B5;
    padding: 2.5vw;
}

.Questions .info {
    width: 39%;
    color: #000000D4;
    font-size: 1.5vw;
    margin: 3vw auto;
    line-height: 2vw;
}

.Questions .titleCu p {
    color: #035360D4;
    font-family: 'Bold';
    FONT-SIZE: 2vw;
    margin-top: 8vw;
    margin-bottom: 3vw;
}

.Questions button {
    background: #FF5015BA 0% 0% no-repeat padding-box;
    border: none;
    margin: 3vw;
    font-size: 2vw;
    color: white;
    border-radius: 1vw;
    width: 13%;
}

.content-question {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 1vw;
    border: 1px solid #707070;
    border-radius: 7px;
    opacity: 0.93;
    margin-bottom: 1vw;
}

.content-question .number {
    color: white;
    background: #25A6B5 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    height: 3vw;
    width: 3vw;
    border-radius: 3vw;
    display: flex;
    margin: 0vw auto;
}

.content-question .number b {
    margin: auto;
    font-size: 1.5vw;
}

.content-question div {
    margin: 0vw auto;
    width: 90%;
}

.content-question .titleQ {

    font-size: 1.5vw;
    color: #707070;
    margin: auto;
    text-align: left;
    line-height: 2.5vw;

}

.content-question label {
    width: 100%;
    text-align: initial;
    color: #000000;
    font-size: 1.2vw;
    margin-left: 4%;
}


/*-------CHECKBOX---------------*/
/* Contenedor */
#c1 input:checked~.checkmark {
    background-color: #02fa15;
}

.container1 a {
    color: gray;
}

.container1 {
    display: block;
    position: relative;
    padding-left: 5%;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1vw;
}

/* escondemos el default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* creamos un custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.8vw;
    width: 1.8vw;
    background-color: #EBEBEB;
    border-radius: 1vw;
    border: 1px solid #707070;
}

/* Al pasar el mouse encima, lo ponemos gris */
.container1:hover input~.checkmark {
    background-color: #02fa15;
}

/* creamos el marcador (escondido al no seleccionar) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* mostramos el marcador al seleccionar */
.container1 input:checked~.checkmark:after {
    display: block;
}

/* estilo del marcador */
.container1 .checkmark:after {
    left: 0.6vw;
    top: 0.3vw;
    width: 0.5vw;
    height: 0.9vw;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*----------------------------------*/


.contextPdf {
    display: flex;
    width: 25%;
    margin: auto;
}

.contextPdf p {
    text-align: center;
}

.contextPdf div {
    cursor: pointer;
    width: 50%;
    display: block;
    margin: auto;
}

.contextPdf .title2 {
    color: #2A6D75;
    font-size: 1.3vw;
}

.contextPdf .subtitle {
    color: #000000;
    font-size: 1.3vw;
}

@media only screen and (max-width: 600px) {

    .Modulo {
        padding-top: 32.5vw;
    }

    .Navigate .Back svg {
        font-size: 7.5vw;
        cursor: pointer;
        position: fixed;
        margin-left: 4%;
        margin-top: 8vw;
    }

    .Modulo .title {
        width: 80%;
        font-size: 7.5vw;
        opacity: 1;
        color: #F87741;
        margin: auto;
        font-family: 'Bold';
        border-bottom-style: solid;
        padding-bottom: 5.2vw;
        line-height: 5vw;
    }

    .Modulo div {
        display: flex;
        margin-top: 7vw;
    }

    .Modulo .content-img {
        width: 20%;
    }

    .Modulo .content-img img {
        margin: auto;
        width: 36vw;
        margin-left: 15%;
    }

    .Modulo .description {
        width: 57%;
        margin: auto;
        font-size: 3.5vw;
        line-height: 4.7vw;
        color: #000000;
        font-family: 'Normal';
        margin-left: 20%;
        text-align: revert;
    }

    .titleC p {
        margin-top: 8vw;
        font-size: 5vw;
    }

    .Modulo .contentVideo iframe {
        MARGIN: 1vw AUTO 3vw auto;
        width: 90%;
        height: 52vw;
        border-radius: 2vw;
    }

    .Modulo button {
        margin: 4vw;
        height: 8.5vw;
        padding: 0vw 11vw;
        font-size: 3.5vw;
        margin-bottom: 19vw;
    }

    .content-question {
        display: flex;
        width: 81%;
        margin: 5vw auto;
        padding: 2vw;
    }

    .content-question .number {
        color: white;
        background: #25A6B5 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        height: 6vw;
        width: 6vw;
        border-radius: 3vw;
        display: flex;
        margin: 0vw auto;
    }

    .content-question .number b {
        margin: auto;
        font-size: 3.5vw;
    }

    .content-question .titleQ {
        font-size: 3.5vw;
        color: #707070;
        margin: auto;
        text-align: left;
        line-height: 4.5vw;
    }

    .content-question label {
        width: 100%;
        text-align: initial;
        color: #000000;
        font-size: 3.2vw;
        margin-left: -4%;
    }

    .checkmark {
        position: absolute;
        top: 4px;
        left: -8px;
        height: 3.8vw;
        width: 3.8vw;
        background-color: #EBEBEB;
        border-radius: 3vw;
        border: 1px solid #707070;
    }

    .Questions button {
        background: #FF5015BA 0% 0% no-repeat padding-box;
        border: none;
        margin: 5vw auto 21vw auto;
        font-size: 6vw;
        color: white;
        border-radius: 1vw;
        width: 58%;
    }

    .container1 .checkmark:after {
        left: -0.4vw;
        top: -0.7vw;
        width: 3.5vw;
        height: 2.9vw;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }


}