.NavBar {
    background: transparent conic-gradient(from -45deg at 45% 100%, #F97944 0.00%, #F7500B 63.26%, #F7500B 63.50%, #7C2806 100.00%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 4vw;
    DISPLAY: flex;
    padding: 0.2% 0vw;
    position: fixed;
    z-index: 2;
}

.NavBar .first {
    width: 20%;
    float: right;
    margin-left: 2%;
}

.NavBar .second {
    margin-left: 54%;
}

.Navigate {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000029;
    opacity: 1;
    display: flex;
    height: 2.5vw;
    position: fixed;
    width: 100%;
    margin-top: 4vw;
    z-index: 2;
}

.Navigate p {
    color: #F86629;
    margin: auto;
    cursor: pointer;
    font-size: 1.2vw;
}



.Navigate p:hover {
    color: black;
}

.Navigate button {
    margin: auto;
    background: #F86629 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: white;
    border-style: none;
    border-radius: 0.2vw;
    padding: 0.2vw;
    width: 6vw;
    font-size: 1vw;
}

.Navigate .Back svg {
    font-size: 2.5vw;
    cursor: pointer;
    position: fixed;
    margin-left: 2%;
}

.Navigate button:hover {
    background: white;
    color: #F86629;
    border-style: solid;
    border-color: #F86629;
}

.sessionGod {
    display: flex;
    width: 35%;
    margin-left: 65%;
}

.sessionGod svg {
    margin: auto;
    font-size: 1.5vw;
    cursor: pointer;
}

.sessionGod svg:hover {
    color: #F3C220;
}

.sessionGod .menu {
    position: absolute;
    margin-top: 2.5vw;
    margin-left: 25%;
    float: right;
    z-index: 2;
}

.sessionGod .menu p {
    box-shadow: inset 0px 3px 6px #ffffff29;
    border: 2px solid #EBEBEB;
    opacity: 1;
    display: flex;
    width: 100%;
    background-color: white;
    padding: 0.2vw;
    font-size: 1vw;
    font-family: 'Bold';
}

.sessionGod .menu p svg {
    margin-left: 0px;
    margin-right: 1vw;
}

.sessionGod p {
    margin: auto;
    width: 50%;
    font-size: 1vw;
}

footer {
    background: #4EAFB2 0% 0% no-repeat padding-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
}

footer p {
    margin: auto;
    color: #FFFFFF;
}

footer div {
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .NavBar {
        background: transparent conic-gradient(from -45deg at 45% 100%, #F97944 0.00%, #F7500B 63.26%, #F7500B 63.50%, #7C2806 100.00%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 20vw;
        DISPLAY: flex;
        padding: 0.2% 0vw;
        position: fixed;
        z-index: 2;
    }

    .NavBar .first {
        width: 35%;
        float: right;
        margin-left: 2%;
    }

    .NavBar .second {
        margin-left: 25%;
        margin-top: 3vw;
        width: 40%;
        height: 70%;
    }

    .Navigate {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 20px #00000029;
        opacity: 1;
        display: flex;
        height: 6vw;
        position: fixed;
        width: 100%;
        margin-top: 18vw;
        z-index: 2;
    }

    .Navigate p {
        color: #F86629;
        margin: auto;
        cursor: pointer;
        font-size: 3vw;
    }



    .Navigate p:hover {
        color: black;
    }

    .Navigate button {
        margin: auto;
        background: #F86629 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        color: white;
        border-style: none;
        border-radius: 0.2vw;
        padding: 0.2vw;
        width: 20vw;
        font-size: 3vw;
    }

    .Navigate .Back svg {
        font-size: 2.5vw;
        cursor: pointer;
        position: fixed;
        margin-left: 2%;
    }

    .Navigate button:hover {
        background: white;
        color: #F86629;
        border-style: solid;
        border-color: #F86629;
    }

    .sessionGod {
        display: flex;
        width: 100%;
        margin-left: 0%;
    }

    .sessionGod svg {
        margin: auto;
        font-size: 3.5vw;
        cursor: pointer;
    }

    .sessionGod svg:hover {
        color: #F3C220;
    }

    .sessionGod .menu {
        position: absolute;
        margin-top: 5.5vw;
        margin-left: 73%;
        float: right;
        z-index: 2;
    }

    .sessionGod .menu p {
        padding: 1.2vw;
        font-size: 3vw;
    }

    .sessionGod .menu p svg {
        margin-left: 0px;
        margin-right: 1vw;
    }

    .sessionGod p {
        width: 50%;
    }

    footer {
        background: #4EAFB2 0% 0% no-repeat padding-box;
        width: 100%;
        height: auto;
        display: block;
        padding: 3vw;
    }

    footer p {
        margin: auto;
        color: #FFFFFF;
        font-size: 3vw;
    }

    footer div {
        margin: auto;
    }
}