.Plan {
    padding-top: 6.5vw;
    background-image: url(../images/fondoPlan.svg);
    background-size: cover;
}

.Plan .infoTutor {
    border-radius: 7px;
    opacity: 0.93;
    display: flex;
}

.Plan .infoTutor .title {
    color: #F86629;
    font-family: Bold;
    font-size: 2vw;
    margin: 4vw auto 2vw auto;
}

.Plan .infoTutor .subtitle {
    color: #F86629;
    text-align: center;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #25A6B5;
}

.Plan .infoTutor .description {
    text-align: justify;
    color: #000000;
    font-size: 1.2vw;
    margin: auto;
    line-height: 2vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border: 1px solid #707070;
    border-radius: 16px;
    opacity: 1;
    padding: 2vw 2vw;
    width: 63%;
}

.Plan .infoTutor div {
    width: 60%;
}

.Plan .infoTutor .tutor-content {
    width: 40%;
    border-right-width: 0vw;
    display: flex;
}

.Plan .preguntaP {
    margin: 2vw auto;
    margin-top: 4vw;
    font-size: 2.2vw;
    color: #F86629;
    font-family: Bold;
    opacity: 1;
}

.Plan .infoTutor .tutor-content img {
    color: #2A6D75;
    margin: auto;
    margin-left: 0px;
    margin-top: 7vw;
    border-radius: 1vw;
}


.Plan .contentModule {
    display: flex;
}

.Plan .contentModule div {
    width: 50%;
    margin: auto;
    padding-top: 0.5vw;
}

.Plan .contentModule .titulo {
    width: 100%;
    text-align: left;
    color: #2A6D75;
    font-size: 2vw;
    margin: 1vw auto;
    padding-top: 0.5vw;
    background-color: white;
    padding: 1vw 4vw;
    border: 0.1vw solid #2A6D75;
    border-radius: 0.5vw;
    box-shadow: 0px 5px 10px #00000029;
    cursor: pointer;
}

.Plan .contentModule .titulo:hover {
    color: #25A6B5;
    box-shadow: 0px 2px 2px #25A6B5;
}

.Plan .listInfo {
    display: flex;
    margin: 1vw auto;
    width: 50%;
    padding-top: 0.5vw;
}

.Plan .listInfo .text {
    width: 80%;
    font-size: 1.7vw;
    color: #000000;
    text-align: justify;
}

.Plan .listInfo .img {
    width: 20%;
}

.Plan .listInfo div {
    width: 50%;
    padding-top: 0.5vw;
}


.contentPre {
    width: 100% !important;
    display: flex;
    padding: 0vw 1vw;
}

.contentPre .icon {
    width: 1% !important;
    cursor: pointer;
}

.contentPre .question {
    width: 90% !important;
    margin: 1vw 0vw;
}

.contentPre .question p {
    width: 100% !important;
    margin: 0px;
    text-align: justify;
    font-size: 1.1vw;
    cursor: pointer;
    line-height: 1.5vw;
}

.Plan .contentPre .question p:hover {
    color: #25A6B5;
}

.contentPre .question textarea {
    width: 100% !important;
    margin: 1vw 0vw;
    text-align: justify;
    font-size: 0.8vw;
    border-radius: 5px;
    border-width: 1px;
    height: 5vw;
    padding: 1vw;
}

.orangeBtn1 {
    background: #FF5015BA 0% 0% no-repeat padding-box;
    border-radius: 1vw;
    opacity: 1;
    width: 10vw;
    height: 3vw;
    color: white;
    margin: 3vw auto;
    font-size: 1.5VW;
    border-style: none;
}

.contentBTN {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .Plan {
        padding-top: 26vw;
    }

    .Plan .infoTutor {
        border-radius: 7px;
        opacity: 0.93;
        display: block;
    }

    .Plan .infoTutor div {
        width: 100%;
    }

    .Plan .infoTutor .title {
        color: #F86629;
        font-family: Bold;
        font-size: 6vw;
        margin: 8vw auto 8vw auto;
    }

    .Plan .infoTutor .description {
        margin: auto;
        box-shadow: 0px 5px 10px #00000029;
        opacity: 1;
        padding: 4vw 4vw;
        width: 90%;
        border-radius: 11px;
    }

    .Plan .infoTutor .subtitle {
        font-size: 3.5vw;
        line-height: 4vw;
        color: #25A6B5;
    }

    .Plan .infoTutor .description {
        margin: auto;
        padding: 4vw 4vw;
        width: 90%;
        border-radius: 11px;
        font-size: 3vw;
        line-height: 4vw;
    }

    .Plan .infoTutor .tutor-content {
        display: none;
    }

    .Plan .preguntaP {
        margin: 8vw auto;
        font-size: 5.2vw;
    }

    .Plan .listInfo {
        display: flex;
        margin: 6vw auto;
        width: 90%;
        padding-top: 0.5vw;
    }

    .Plan .listInfo .text {
        width: 80%;
        font-size: 3.7vw;
        color: #000000;
        text-align: justify;
        margin: 4vw;
    }

    .contentBTN {
        padding-bottom: 18vw !important;
        padding-top: 6vw !important;
    }

    .Plan .contentModule div {
        width: 90%;
        margin: auto;
        padding-top: 1.5vw;
    }

    .Plan .contentModule .titulo {
        font-size: 5vw;
    }

    .contentPre .question p {
        font-size: 3.1vw;
        line-height: 3.5vw;
    }

    .contentPre .question textarea {
        width: 100% !important;
        margin: 1vw 0vw;
        text-align: justify;
        font-size: 2.8vw;
        border-radius: 5px;
        border-width: 1px;
        height: 16vw;
        padding: 3vw;
    }

    .orangeBtn1 {
        background: #FF5015BA 0% 0% no-repeat padding-box;
        border-radius: 1vw;
        opacity: 1;
        width: 70%;
        height: auto;
        color: white;
        margin: 3vw auto;
        font-size: 6.5VW;
        border-style: none;
    }

}