.Registro {
    padding-top: 8.5vw;
}

.Register-Contents {
    margin-top: 2vw;
}

.Register-Contents form {
    display: flex;

}

.Register-Contents form .title {
    font-size: 2vw;
    color: #2A6E77;
    font-family: Bold;
}

.Register-Contents form select:focus {
    border-color: #25A6B5;
}

.Register-Contents form input:focus {
    border-color: #25A6B5;
}

.Register-Contents form input {
    width: 47%;
    margin: 0.3vw auto;
    height: 2vw;
    border-radius: 0.7vw;
    border-style: solid;
    color: #2A6D75;
    text-align: center;
    font-size: 1.2vw;
    border-width: 0.15vw;
    border-color: #707070;
    padding: 0px;
}

.Register-Contents form p {
    color: #2A6E77;
    text-align: center;
    margin: 1vw auto;
    font-family: 'Bold';
}

.Register-Contents form select {
    width: 47%;
    margin: 0.3vw auto;
    height: 2.2vw;
    border-radius: 0.7vw;
    border-style: solid;
    color: #2A6D75;
    text-align: center;
    font-size: 1.2vw;
    border-width: 0.15vw;
    border-color: #707070;
    padding: 0px;
}

.notice {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #2B2B0929;
    opacity: 1;
    margin: 3vw auto;
    padding: 1vw;
    width: 65%;
}

.notice .title {
    color: #F86629;
    font-family: 'Bold';
    font-size: 1.5vw;
}

.notice .description {
    color: #000000;
    font-size: 1.5vw;
    line-height: 2vw;
    width: 80%;
    margin: auto;

}

.notice b {
    font-family: Bold;
    color: #25A6B5;
}

.Content-register svg {
    font-size: 3vw;
}

.Content-register {
    width: 45%;
    margin: auto;
    border-radius: 2vw;
    padding: 1.5vw 0vw;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 10px 20px 20px #2B2B0929;
    border: 1px solid #D2EBEA;
    opacity: 1;
}

.Content-register div {
    display: flex;
    width: 91%;
    margin: auto;
}

.content-buttons {
    display: flex;
    width: 38%;
    margin: auto;
}

.content-buttons button {
    font-size: 1.5vw;
    width: 37%;
    height: 3vw;
    border-radius: 2vw;
    border-color: #707070;
    border-style: solid;
    margin: 2vw auto;
}

.content-buttons .send {
    background-color: transparent;
    color: #99B525;
    border-color: #99B525;
}

.content-buttons .cancel {
    background-color: #EF2527;
    color: white;
    border-style: none;
}

.content-buttons .send:hover {
    background-color: #99B525;
    color: white;

}

.content-buttons .cancel:hover {
    background-color: white;
    color: #EF2527;
    border-color: #EF2527;
    border-style: solid;
}

.content-buttons button:hover {
    background-color: #FBF8EC;
    color: orange;
}

.inputs_empre {
    display: block !important;
}

.inputs_empre input {
    width: 94% !important;
}

.inputs_empre select {
    width: 95% !important;
}

.text_empre {}

.text_empre textarea {
    width: 94% !important;
    height: 10vw !important;
    border-radius: 1vw;
    margin: auto;
    border-width: 0.15vw;
    border-color: #707070;
    border-style: solid;
    resize: none;
    color: #2A6D75;
}

.text_empre textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2A6E77;
    text-align: center;
    font-size: 1.1vw;
    opacity: 1;
    /* Firefox */
}

@media only screen and (max-width: 600px) {

    .Register-Contents {
        margin-top: 24vw;
    }

    .notice {
        margin: 3vw auto;
        padding: 3vw;
        width: 95%;
    }

    .notice .title {
        font-size: 4.5vw;
    }

    .notice .description {
        color: #000000;
        font-size: 3.5vw;
        line-height: 4vw;
        width: 100%;
        margin: auto;
    }

    .Register-Contents form {
        display: block;
        margin-top: 13vw;
        margin-bottom: 10vw;
    }

    .Content-register {
        width: 95%;
        margin: 7vw auto;
    }

    .Register-Contents form .title {
        font-size: 4vw;
    }

    .Content-register svg {
        font-size: 5vw;
        margin-right: 3vw;
    }

    .Content-register div {
        display: flex;
        width: 100%;
        margin: auto;
    }

    .Register-Contents form select {
        width: 48%;
        margin: 2.3vw auto;
        height: 8.2vw;
        text-align: center;
        font-size: 3.2vw;
    }

    .Register-Contents form input {
        width: 48%;
        margin: 2.3vw auto;
        height: 8vw;
        text-align: center;
        font-size: 3.2vw;
        border-width: 0.15vw;
    }

    .content-buttons {
        display: flex;
        width: 100%;
        margin: auto;
        margin-bottom: 30vw;
    }

    .content-buttons .send {
        background-color: transparent;
        color: #99B525;
        border-color: #99B525;
        width: 81%;
        font-size: 4vw;
        height: 9vw;
    }

    .text_empre textarea {
        width: 94% !important;
        height: 46vw !important;
        border-radius: 1vw;
        resize: none;
        font-size: 3vw !important;
        padding: 2vw;
    }

    .text_empre textarea::placeholder {
        font-size: 3vw;
    }
}