html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
  background-color: #FBF8EC;
  font-family: Normal !important;
  margin-bottom: 40px !important;
  -youbkit-touch-callout: none;
  -youbkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  cursor: pointer;
}



button:hover {
  background-color: white;
  color: orange;
}

input:active {
  border-color: #25A6B5;
}

input {
  outline: none;
}

.loading {
  padding-top: calc(20%);
  margin: auto;
}

.loading svg {
  margin: auto !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Login {
  background-color: #FBF8EC;
}

.modal {
  display: flex;
}

#modal .msg {
  display: flex;
  font-size: 1.5vw;
  text-align: center;
  margin: 2vw auto 2vw auto;
  LINE-HEIGHT: 2vw;
}

#modal button {
  background: #25A6B5 0% 0% no-repeat padding-box;
  border-radius: 45px;
  border: 1px solid #2A6D75;
  opacity: 1;
  color: #fff;
  width: 24%;
  border-style: hidden;
  height: 2.5vw;
  margin: auto;
}

#modal #icon-modal {
  width: 100%;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

option {
  background-color: #EEF3E8;
}

.padding {
  padding-top: 6.5vw;
}

::-webkit-scrollbar-thumb {
  background: #FF501580;
  border-radius: 10px;

}

::-webkit-scrollbar {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: transparent;
  width: 7px;
  height: 7px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: transparent;
  width: 7px;
  height: 7px;
}

@media only screen and (max-width: 600px) {
  .ReactModalPortal .ReactModal__Content {

    width: 90% !important;
  }

  .loading {
    padding-top: calc(90%);
    margin: auto;
  }

  #modal #icon-modal {
    width: 100%;
    margin: auto;
    font-size: 15vw;
  }

  #modal .msg {
    display: flex;
    font-size: 4.5vw;
    text-align: center;
    margin: 2vw auto 2vw auto;
    LINE-HEIGHT: 5vw;
  }


  #modal button {
    background: #25A6B5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: 1px solid #2A6D75;
    opacity: 1;
    color: #fff;
    width: 41%;
    border-style: hidden;
    height: 10.5vw;
    margin: 3vw auto;
  }
}