@font-face {
  font-family: Normal;
  src: url('../src/assets/fonts/Segoe\ UI.ttf');
}

@font-face {
  font-family: Bold;
  src: url('../src/assets/fonts/Segoe\ UI\ Bold.ttf');
}

@font-face {
  font-family: Bold Italic;
  src: url('../src/assets/fonts/Segoe\ UI\ Bold\ Italic.ttf');
}

@font-face {
  font-family: Italic;
  src: url('../src/assets/fonts/Segoe\ UI\ Italic.ttf');
}